body{
  background-image: url("https://image.freepik.com/free-psd/abstract-background-design_1297-87.jpg");
  background-repeat : no-repeat;
  background-size :cover;
}

#username  , #password{
  border : 2px solid grey;
}
input{
    width: 40%;
}

div{
  margin-top : 20%;
  margin-left : 40%;
}

#signin{
  background-color : skyblue;
  color : white;
  width: 30%;
  margin-left: 5%;
}

#signin: hover{
  background-color : skyblue;
  border-radius: 30%;
  color : white;
  height:  20px;
  width: 10px;

}
